footer {
    text-align: center;
    /*background: url(/imagens/bg.jpg);*/
    background: linear-gradient(#1C1C1C, #000000);
    padding: 40px 0;
}

.copyrigth {
    color: white;
    font-size: 13px;
    margin-top: 20px;
    
}